<div>
#set($lm = $action.getLabelManager())
</div>
<div id="agmipr-spacesmenu">
    <div id="agmip-team" class="col">
        <h2>AgMIP Teams</h2>
        #renderSpacesLabelMenu("core-team")
    </div>
    <div id="xcutting-themes" class="col">
        <h2>Cross-Cutting Themes</h2>
        #renderSpacesLabelMenu("cross-cutting-theme")
    </div>

    <div id="model-comparisons" class="col">
        <h2>Model Comparisons</h2>
        #renderSpacesLabelMenu("model-comparison")
    </div>
    <div id="regional-groups" class="col">
        <h2>Regional Groups</h2>
        #renderSpacesLabelMenu("regional-groups")
    </div>
    <br class="clear">
</div>

#macro(renderSpacesLabelMenu $label)
    <ul>
    #if($lm.getLabel("team:$label"))
        #set( $lbl = $lm.getLabel("team:$label"))
        #set($spaces = $lm.getSpacesWithLabel($lbl))
            #foreach($space in $spaces)
                <li><a href="$req.ContextPath$space.getUrlPath()">$space.getDisplayTitle()</a></li>
            #end
    #else
        <li>No groups found</li>
    #end
    </ul>
#end
